/*body, #winner {*/
/*    background: radial-gradient(#fff, #0048AE);*/
/*}*/
body {
    background: radial-gradient(#fff, #0048AE);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

#winner {
    position: absolute;
    color: #F3D600;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    min-height: 0;
    opacity: 0;
    z-index: -1;
    transition: all .6s ease-in-out;
    text-align: center;
}

#winner.visible{
    width: 100vw;
    height: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: 10;
}
#winner, h1 {
    color: white;
    background-color: black;
}

h1 {
    position: relative;
    padding: 2rem 3rem;
    /*background-color: black;*/
    /*color: white;*/
    border-radius: 50px;
    font-size: 2rem;
}

h1:before{
    content: '';
    position: absolute;
    border: solid 7px white;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 8px;
    left: 10px;
    border-radius: 40px;
}

.h1 {
    content: '4';
    font-size: 10rem;
    position: absolute;
    color: #E1180A;
    top: -3rem;
    right: 2.5rem;
    margin-bottom: .5rem;
}

#playground {
    display: flex;
    flex-direction: column;
}

h3#current {
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    outline: solid 2px white;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .8s ease-in-out;
    font-size: 1.6rem;
}


h3#current.p1 {
    align-self: flex-start;
    background-color: #E1180A;
    color: #fff;
}

h3#current.p2 {
    align-self: flex-end;
    background-color: #F3D600;
    color: #E1180A;
}
h3#current > span {
    text-align: center;
}

.grid {
    border: 1px solid;
    height: 340px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    margin: auto;
    background-color: #0048AE;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(206, 206, 206, 0.87);
    box-shadow: 5px 5px 15px 5px rgba(206, 206, 206, 0.87);
}


.grid div {
    height: 41px;
    width: 41px;
    border: solid .5px #cecece;
    border-radius: 50%;
    background-color: #fff;
}


.player-one {
    background-color: #E1180A !important;
    border-radius: 10px;
}

.player-two {
    background-color: #F3D600 !important;
    border-radius: 10px;
}

.hidden {
    display: none;
}

@media  screen and (min-width: 600px) {

    h1 {
        padding: 2rem 5rem;
        font-size: 3rem;
    }

    .h1 {
        font-size: 15rem;
        top: -5rem;
        right: 100px;
    }

    .grid {
        height: 400px;
        width: 400px;
    }


    .grid div {
        height: 50px;
        width: 50px;
    }

}

@media  screen and (min-width: 960px) {

    #playground {
        flex-direction: row;
    }

    .grid {
        height: 500px;
        width: 500px;
    }


    .grid div {
        height: 63px;
        width: 63px;
    }
}

@media  screen and (min-width: 1200px) {

    .grid {
        height: 680px;
        width: 680px;
    }


    .grid div {
        height: 85px;
        width: 85px;
    }
}