body{
  min-height: 100vh;
  background: radial-gradient(#fff , #0048AE);
  display: flex;
  flex-direction: column;
}

/*h1 {*/
/*  padding: 2rem ;*/
/*  background-color: #E1180A;*/
/*  color: #F3D600;*/
/*  border-radius: 20px;*/
/*}*/
h1 {
  position: relative;
  padding: 2rem 5rem;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 3rem;
}
h1:before{
  content: '';
  position: absolute;
  border: solid 7px white;
  width: calc(100% - 50px);
  height: calc(100% - 30px);
  top: 8px;
  left: 18px;
  border-radius: 50px;
}

.h1{
  content: '4';
  font-size: 15rem;
  position: absolute;
  color: #E1180A;
  top: -5rem;
  right: 100px;
}

h3{
  background-color: #E1180A;
  color: #fff;
  /*color: #F3D600;*/
  padding: 1rem;
}

.grid {
  border: 1px solid;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  margin: auto;
  background-color: #0048AE;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(206,206,206,0.87);
  box-shadow: 5px 5px 15px 5px rgba(206,206,206,0.87);
}


.grid div {
  height: 50px;
  width: 50px;
  border: solid .5px #cecece;
  border-radius: 50%;
  background-color: #fff;
}

.player-one {
  background-color: #E1180A !important;
  border-radius: 10px;
}

.player-two {
  background-color: #F3D600 !important;
  border-radius: 10px;
}

.hidden{
 display: none;
}
